<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Get Started</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onRegister()">
          <ion-item>
            <ion-input
              type="email"
              label="Email"
              labelPlacement="floating"
              [(ngModel)]="email"
              name="email"
              autocomplete="email"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              label="Password"
              labelPlacement="floating"
              [(ngModel)]="password"
              name="password"
              autocomplete="new-password"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              label="Confirm Password"
              labelPlacement="floating"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              autocomplete="new-password"
            ></ion-input>
          </ion-item>

          @if (errorMessage) {
          <ion-text color="danger">
            <p class="error-text">{{ errorMessage }}</p>
          </ion-text>
          }

          <ion-button
            type="submit"
            expand="block"
            [disabled]="isLoading"
            class="ion-margin-top"
          >
            @if (isLoading) {
            <ion-spinner name="crescent"></ion-spinner>
            } @else { Create Account }
          </ion-button>
        </form>

        <p class="ion-text-center ion-margin-top">
          Already have an account?
          <a routerLink="/login">Sign in</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
