.category-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  // Size variants
  &.size-sm {
    width: 32px;
    height: 32px;
    font-size: 1rem;
  }

  &.size-md {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }

  &.size-lg {
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
  }
}
